body {
  margin: 5em auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;
  color: #333;
}

h1 {
  color: #111;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff0000
}

#diagramContainer {
  width: 1000px;
  margin: 4em auto 0;
  position: relative;
}

.label {
  position: absolute;
  color: #000;
  z-index: 1;
}

.inputR {
  margin: 0 8px;
  width: 3em;
  position: relative;
}

.padTopOmega {
  position: absolute;
  margin-top: 1px;
  display: inline;
}

.mjx-math {
  color: #000;
}
